<h1>Listado de coches</h1>
<div class="mat-elevation-z8">
  <table
    mat-table
    class="full-width-table"
    [dataSource]="data"
    aria-label="Elements"
    data-testid="carsTable"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div
    *ngIf="!isLoadingResults && !this.data.length"
    class="tableInfoContainer"
  >
    <span>No hay datos</span>
  </div>

  <div
    *ngIf="isLoadingResults"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <mat-paginator
    #paginator
    [length]="resultsLength"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
